/* Styles go here */
.token {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	display: inline-block; 
}

.explore-area .explore-menu .btn::after {
	position: static !important;
}

.category-btn {
	border: 1px solid !important;
	border-radius: 25px !important;
}