.wrapper-404 {
    min-height: 100vh;
    
}
.not-found-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

@media screen and (max-height: 500px) {
    .wrapper-404 {
        min-height: 500px;
    }
}