.w-120 {
    width: 120px;
}

.search-box {
    max-width: 970px;
    margin: auto;
}

.search-input {
    width: calc(100% - 170px) !important;
}

.search-input input, .search-input input:focus, .search-input input:visited {
    background-color: transparent;
    color: #d1d3d5;
    border-color: #686c70;
}

#react-select-2-input {
    height: 19px;
    background-color: transparent;
}

.css-1s2u09g-control {
    background-color: transparent !important;
}

.css-1s2u09g-control .css-qc6sy-singleValue {
    color: white;
}
.category-dropdown {
    min-width: 250px;
    max-width: 250px;
}